

#r1{
    width:200px;
    height:200px;
    background:black;
}

#r2{
    width:200px;
    height:200px;
    background:grey;
}

#r3{
    width:200px;
    height:200px;
    background:gray;
}

#r4{
    width:200px;
    height:200px;
    background:gray;
}

main div {
    display: flex;
}